<!-- Sidebar -->
<div class="sidebar">
  <div class="inner">
    <!-- Search -->
    <section id="search" class="alt">
      <form method="post" action="#">
        <input
          [(ngModel)]="textFilter"
          name="searchTerm"
          type="text"
          placeholder="Rechercher un film de notre catalogue"
        />
      </form>
    </section>

    <!-- Menu -->
    <nav id="menu">
      <header (click)="goToHomePage()">Menu</header>
      <div class="menu-items">
        <span (click)="goToHomePage()">
          Retour à la page d'accueil
        </span>
      </div>
    </nav>
  </div>
</div>
<!-- Main -->
<div id="main">
  <div class="inner">
    <!-- Header -->
    <header id="header">
      <a class="logo">By <strong>BigBadWolf</strong></a>
      <ul class="icons">
        <li>
          <a class="icon brands fa-twitter"><span class="label">Twitter</span></a>
        </li>
        <li>
          <a class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
        </li>
        <li>
          <a class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a>
        </li>
        <li>
          <a class="icon brands fa-instagram"><span class="label">Instagram</span></a>
        </li>
        <li>
          <a class="icon brands fa-medium-m"><span class="label">Medium</span></a>
        </li>
      </ul>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="content">
        <header>
          <h1>Movies Land<br /></h1>
          <p>A free site for searching info about any movies you want</p>
        </header>
        <p>
          Vous pourrez effectuer votre recherche d'un film à partir de la barre de recherche en haut à gauche.
        </p>
      </div>
      <span class="image object">
        <div class="sliding-bg" alt=""></div>
      </span>
    </section>

    <!-- Section -->
    <section>
      <header class="major">
        <h2>Mes Films Favoris</h2>
      </header>
      <div class="posts">
        <div class="loader" *ngIf="!isLoaded">
          <img src="assets/images/loader.gif" alt="" />
        </div>
        <ng-container *ngIf="isLoaded">
          <article *ngFor="let movie of listMoviesFavorites | searchMovie: textFilter; let i = index">
            <a class="image"><img #img [src]="movie.img" (error)="img.src = 'assets/images/pic01.jpg'" alt=""/></a>
            <h3 [innerHTML]="movie.title"></h3>
            <p *ngIf="movie.description" [innerHTML]="movie.description"></p>
            <ul class="actions">
              <div (click)="display.show = !display.show" #display class="see-detail-block">
                <span class="button">{{ !display.show ? 'Plus de details' : 'Moins de details' }} </span>
              </div>
              <!-- <div class="favorite-block">
                  <input
                    type="checkbox"
                    (change)="setMovieToFavorite(movie, $event)"
                    [(ngModel)]="movie.favorite"
                    [name]="'favorite' + i"
                    [id]="'favorite' + i"
                  />
                  <label [for]="'favorite' + i">
                    {{ movie.favorite ? 'Favorie' : 'Cochez pour le mettre dans vos favoris' }}
                  </label>
                </div> -->
            </ul>
            <div *ngIf="display.show" class="details">
              <div>
                <span>Director: </span> <span> {{ movie.director }} </span>
              </div>
              <div *ngIf="movie.category.length">
                <span>Categorie: </span>
                <ng-container *ngFor="let ctg of movie.category">
                  <span>{{ ctg }} </span>
                </ng-container>
              </div>
              <div>
                <span> Année de production: {{ movie.production_year }} </span>
              </div>
            </div>
          </article>
        </ng-container>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <p class="copyright">
        &copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design:
        <a href="https://html5up.net">HTML5 UP</a>.
      </p>
    </footer>
  </div>
</div>
